html {
    font-size: 62.5%;
    box-sizing: border-box
}

body {
    font-family: 'Roboto','Helvetica Neue','Helvetica','Arial',sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .01em;
    color: #606c76;
    background: #fff;
    overflow: hidden
}
*,*:after,*:before {
    box-sizing: inherit
}

.btn,button,input[type='button'],input[type='reset'],input[type='submit'] {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    padding: .5rem 3rem;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    border-radius: 0;
    background: #f7f7f7
}
.btn:hover,.btn:focus,button:hover,button:focus,input[type='button']:hover,input[type='button']:focus,input[type='reset']:hover,input[type='reset']:focus,input[type='submit']:hover,input[type='submit']:focus {
    color: white;
    border-color: #ccc;
    border-radius: 6px;
    outline: 0;
    background: #ccc
}
.btn-danger {
    color: #e91e63;
    border-color: #e91e63
}

.btn-danger:hover {
    color: #e91e63;
    border-color: #cecaca;
    background: #e8e8e8
}
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border: 0;
    border-top: .1rem solid #f4f5f6
}

input[type='email'],input[type='number'],input[type='password'],input[type='search'],input[type='tel'],input[type='text'],input[type='url'],textarea,select {
    width: 100%;
    height: 3.8rem;
    margin-bottom: 1em;
    padding: .6rem 1rem;
    border: 1px solid #d6d5d5;
    outline: 0;
    background: #fdfdfd
}
input[type='email']:focus,input[type='number']:focus,input[type='password']:focus,input[type='search']:focus,input[type='tel']:focus,input[type='text']:focus,input[type='url']:focus,textarea:focus,select:focus {
    transition: all 500ms ease;
    border-color: #3f51b5;
    outline: 0
}
textarea {
    min-height: 6.5rem;
    padding-top: .6rem;
    padding-bottom: .6rem
}

label,legend {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin-bottom: .5rem
}
fieldset {
    padding: 0;
    border-width: 0
}

input[type='checkbox'],input[type='radio'] {
    display: inline
}
a {
    text-decoration: none
}

dl,ol,ul {
    margin-top: 0;
    padding-left: 0
}

dl ul,dl ol,ol ul,ol ol,ul ul,ul ol {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem
}
dl {
    list-style: none
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

dt,dd,li {
    margin-bottom: 1rem
}
.btn,button {
    margin-bottom: 1rem
}

pre,blockquote,dl,figure,table,p,ul,ol,form {
    margin-bottom: 2.5rem
}
table {
    width: 100%
}

th,td {
    padding: 1.2rem 1.5rem;
    text-align: left;
    border-bottom: .1rem solid #e1e1e1
}
th:first-child,td:first-child {
    padding-left: 0
}

th:last-child,td:last-child {
    padding-right: 0
}
p {
    margin-top: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2rem
}
h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.1rem
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem
}
h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -.1rem
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}

h6 {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0
}
@media(min-width: 40rem) {
    h1 {
        font-size:5rem
    }

    h2 {
        font-size: 4.2rem
    }

    h3 {
        font-size: 3.6rem
    }
    h4 {
        font-size: 3rem
    }

    h5 {
        font-size: 2.4rem
    }

    h6 {
        font-size: 1.5rem
    }
}

.float-right {
    float: right
}
.float-left {
    float: left
}

.clearfix {
    *zoom:1}

.clearfix:after,.clearfix:before {
    display: table;
    content: ''
}
.clearfix:after {
    clear: both
}

.editor {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh
}
.login {
    width: 17em;
    margin: 1em auto
}

.loader {
    font-size: 2em;
    line-height: 13em;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #607d8b;
    background: #fff
}
.notification {
    position: fixed;
    z-index: 999999;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: .5em;
    color: #607D8B;
    background: #FFFFFF;
}
.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 280px;
    height: 280px;
    text-align: center;
}
.notification h3 {
    font-size: 3em;
    margin: 0 0 .5em 0;
    color: #607D8B;
    text-shadow: none;
}
.notification p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.success {
    color: white;
    border-color: #236ea9;
    background: #2196f3
}
.success h3 {
    color: #fff;
    border-bottom-color: #2973ad
}

.error {
    color: white;
    border-color: #e91e63;
    background: #e91e63
}
.error h3 {
    color: #fff;
    border-bottom-color: #ff0057
}

.header {
    height: 3.5em;
    color: #607d8b;
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
    margin: 0
}
.logo {
    display: inline-block;
    padding: 0
}

.logo img {
    padding: .2em;
    border-radius: 100%;
    background: #dcdcdc
}
.logo img,.logo span {
    line-height: 3em;
    display: block;
    float: left;
    width: 3em;
    margin: .2em auto;
    margin-left: 1em;
    text-align: center
}
select.filter {
    float: right;
    width: 6em;
    height: 3.5em;
    border: 0;
    border-bottom: 1px solid #673ab7;
    background: #faf9f9;
    color: #607d8b;
    border-radius: 0
}
input.filtertext {
    float: right;
    padding: 0 .5em;
    outline: 0;
    width: 10em;
    height: 3.45em;
    border: 0;
    border-bottom: 1px solid #f44336;
    background: #faf9f9;
    color: #607d8b;
    border-radius: 0
}
.menu {
    display: block;
    float: right;
    padding: .5em
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.menu li {
    display: inline-block
}

nav.menu li a {
    font-size: 1em;
    line-height: 3em;
    padding: .2em .5em;
    color: #607d8b
}
.menu li a:hover {
    color: #00bcd4
}

.CodeMirror {
    margin: 1em 0
}

.snippets {
    position: relative;
    display: block;
    width: 100vw;
    height: calc(100vh - 4.5em);
    overflow: scroll;
    margin: 1em auto
}
.snippet {
    color: #252a44;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
    -webkit-transform: scale(0);
    -webkit-animation: selected 300ms 1 ease-in-out;
    opacity: 0
}
.view {
    display: block;
    -webkit-transform: scale(1);
    -webkit-animation: selected 300ms 1 ease-in-out;
    opacity: 1
}
.snippet-title {
    font-size: 1em;
    padding: .5em;
    color: #fff;
    border-bottom: 1px solid #607d8b;
    background: #607d8b
}
.snippet-code pre {
    font-size: .8em;
    display: block;
    width: 100%;
    max-height: 10em;
    margin: 0;
    padding: 0;
    overflow: auto
}
.snippet-code pre code {
    display: block;
    width: 100%
}

.snippet-footer {
    overflow: hidden;
    height: 3em;
    padding: .3em;
    border-top: 1px solid #ccc;
    background: #f7f7f7
}
.snippet-footer a {
    line-height: 2em;
    float: right;
    height: 2.5em;
    margin: .5em;
    padding: .2em .5em;
    text-align: right;
    border: 0
}
.snippet-footer a:hover {
    color: #009688;
    background: 0
}

.dashboard-header {
    line-height: 3;
    height: 3em;
    padding: 0 .5em;
    color: #9b4dca;
    border-bottom: 1px solid #d1d1d1;
    background: #f7f7f7
}
.snippet-title span {
    font-size: 12px;
    float: right;
    padding: .1em .5em;
    text-align: right;
    border-radius: 4px
}
.type-javascript .snippet-title {
    color: #fff;
    border-bottom: 1px solid #b71e13;
    background: #f44336
}
.type-javascript .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #b71e13;
    background: #d84035
}
.type-html .snippet-title {
    color: #fff;
    border-bottom: 1px solid #7f45a2;
    background: #673ab7
}
.type-html .snippet-title span {
    color: #ffc107;
    border: 1px solid #4c3773;
    background: #543a84
}
.type-json .snippet-title {
    color: #fff;
    border-bottom: 1px solid #2196f3;
    background: #2196f3
}
.type-json .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #317ebb;
    background: #2889d6
}
.type-markdown .snippet-title {
    color: #fff;
    border-bottom: 1px solid #009688;
    background: #009688
}
.type-markdown .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #087167;
    background: #03776c
}
.type-less .snippet-title,.type-css .snippet-title {
    color: #fff;
    border-bottom: 1px solid #795548;
    background: #795548
}
.type-less .snippet-title span,.type-css .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #6b5046;
    background: #6b5046
}
.type-php .snippet-title {
    color: #fff;
    border-bottom: 1px solid #607d8b;
    background: #607d8b
}
.type-php .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #5d727b;
    background: #5d727b
}
.type-stylus .snippet-title {
    color: #fff;
    border-bottom: 1px solid #2196f3;
    background: #2196f3
}
.type-stylus .snippet-title span {
    color: #ffeb3b;
    border: 1px solid #317ebb;
    background: #2889d6
}
@media(min-width: 320px) {
    .snippet {
        float:none;
        width: calc(100% - 1em);
        margin: .5em
    }
    .filtertext,.filter {
        display: none
    }

    .editor-left,.editor-right {
        float: none;
        width: 100%;
        padding: .2em
    }
}

@media(min-width: 600px) {
    .snippet {
        float:none;
        width: calc(100% - 1em);
        margin: .5em
    }
    .filtertext,.filter {
        display: none
    }

    .editor-left,.editor-right {
        float: none;
        width: 100%;
        padding: .2em
    }
}

@media(min-width: 768px) {
    .filtertext,.filter {
        display:inline-block
    }

    .snippet {
        float: left;
        width: calc(100%/2 - 1em);
        margin: .5em
    }
    .editor-left,.editor-right {
        float: none;
        width: 100%;
        padding: .2em
    }
}

@media(min-width: 960px) {
    .filtertext,.filter {
        display:inline-block
    }
    .snippet {
        float: left;
        width: calc(100%/3 - 1em);
        margin: .5em
    }

    .editor-right {
        display: block;
        float: left;
        width: calc(100% - 25% - 1em);
        margin: .5em;
        padding: .5em
    }
    .editor-left {
        float: left;
        width: calc(100% - 75% - 1em);
        margin: .5em;
        padding: .5rem
    }
}


